// Используется на странице каталога плиткой.
mixin one-4-product(price, name)
	.col-md-4.col-lg-4.col-sm-6.col-xs-6
		.one-product
			.feature-label.new NEW
			.image.carousel.slide(data-ride="carousel", id='carousel-main-page-tovar-1')
				.carousel-inner(role='listbox')
					.item.active
						img(src='assets/images/tovar1.png')
					.item
						img(src='assets/images/tovar2.png')
					.item
						img(src='assets/images/tovar3.png')
					.item
						img(src='assets/images/tovar4.png')
				a.left.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="prev")
					//- span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="next")
					//- span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
			.description 
				a(href='kartocha-tovara.html')= name
				span.price= price
				span.wasprice 15 990 руб
			.additional_block
				.rate 
					span.num.svg-red.svg-skewed 4.5
						include ../assets/images/rating-background.svg
					a(href='#') 7 отзывов
					span.est Есть в наличии
				.icons
					img(src='assets/images/icon-heart.png')
					img(src='assets/images/icon-compare.png')
					span.tocart В корзину

// Используется на странице каталога списком.
mixin one-12-product(price, name)
	.col-md-12.col-lg-12.col-sm-12.col-xs-12
		.one-product
			.feature-label.new NEW
			.image.carousel.slide(data-ride="carousel", id='carousel-main-page-tovar-1')
				.carousel-inner(role='listbox')
					.item.active
						img(src='assets/images/catalog-list-image1.jpg')
					.item
						img(src='assets/images/catalog-list-image2.jpg')
					.item
						img(src='assets/images/catalog-list-image3.jpg')
					.item
						img(src='assets/images/catalog-list-image4.jpg')
				a.left.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="prev")
					//- span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="next")
					//- span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
			.description 
				a(href='kartocha-tovara.html')= name
				.icons
					span.num.svg-grey.svg-normal 4.5
						include ../assets/images/rating-background.svg
					a(href='#') 7 отзывов
					img(src='./assets/images/icon-heart.svg')
					img(src='assets/images/icon-compare.svg')
			.price
				span.wasprice 15 990 руб
				span.price= price
			.add-to-cart
				span.tocart В корзину
				span.est Есть в наличии

// Используется на главной странице.
mixin one-product(price, name)
	.col-md-3.col-lg-3.col-sm-6.col-xs-6
		.one-product
			.feature-label.new NEW
			.image.carousel.slide(data-ride="carousel", id='carousel-main-page-tovar-1')
				.carousel-inner(role='listbox')
					.item.active
						img(src='assets/images/tovar1.png')
					.item
						img(src='assets/images/tovar2.png')
					.item
						img(src='assets/images/tovar3.png')
					.item
						img(src='assets/images/tovar4.png')
				a.left.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="prev")
					//- span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#carousel-main-page-tovar-1" role="button" data-slide="next")
					//- span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
			.description 
				a(href='kartocha-tovara.html')= name
				span.price= price
				span.wasprice 15 990 руб
			.additional_block
				.line
				.rate 
					span.num.svg-grey.svg-normal 4.5
						include ../assets/images/rating-background.svg
					a(href='#') 7 отзывов
					span.est Есть в наличии
				.icons
					img(src='assets/images/icon-heart.png')
					img(src='assets/images/icon-compare.png')
					span.tocart В корзину
// Хлебные крошки
mixin breadcrumbs()
	.row.breadcrumbs
		.col-lg-12
			a(href='#') Главная
			a(href='#') Корзина

// Фильтр для страницы каталога
mixin filter-dropdown(id, text)
	.collapse-block
		a.collapsed(data-toggle="collapse" href="##{id}")
			include ../assets/images/arrow-top.svg 
			| #{text}
		.collapse(id="#{id}") 
			.w50
				input.styled-checkbox(type='checkbox', name='#{id}_name', id='#{id}_name')
				label.customcheck(for="#{id}_name")
				label(for="#{id}_name") Alcatel
			.w50
				input.styled-checkbox(type='checkbox', name='#{id}_name', id='#{id}_name')
				label.customcheck(for="#{id}_name")
				label(for="#{id}_name") Alcatel
			.w50
				input.styled-checkbox(type='checkbox', name='#{id}_name', id='#{id}_name')
				label.customcheck(for="#{id}_name")
				label(for="#{id}_name") Alcatel
			.w50
				input.styled-checkbox(type='checkbox', name='#{id}_name', id='#{id}_name')
				label.customcheck(for="#{id}_name")
				label(for="#{id}_name") Alcatel
			.w50
				input.styled-checkbox(type='checkbox', name='#{id}_name', id='#{id}_name')
				label.customcheck(for="#{id}_name")
				label(for="#{id}_name") Alcatel

mixin one-checkbox()
	.collapse-block
		input.styled-checkbox(type='checkbox', name='slot_filter', id='slot_filter')
		label.customcheck(for="slot_filter")
		label(for="slot_filter") Слот для карты памяти и чего то там ещё